@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Condensed";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/RobotoCondensed-VariableFont_wght.ttf) format("truetype");
  }

  body {
    font-family: "Roboto Condensed", sans-serif;
  }
}

/* .progress-bar {
  --bg-color: #5703ff;
}

.progress-bar::-webkit-progress-bar {
  background-color: #1e015269;
  border-radius: 24px;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--bg-color);
  border-radius: 24px;
}

.progress-bar::-moz-progress-bar {
  background-color: var(--bg-color);
  border-radius: 24px;
} */

.selected {
  background: linear-gradient(180deg, #fbda81 0%, #f8b173 100%);
  background: #f5a76c;
  color: #2c203d;
}

.correct {
  /* background: linear-gradient(180deg, #a1fa61 0%, #52d482 100%); */
  background: #5af59d;
  color: #2c203d;
}

.wrong {
  /* background: linear-gradient(180deg, #f96fb1 0%, #f52b8c 100%); */
  background: #f55a98;
  color: #2c203d;
}

.disabled-button {
  @apply cursor-not-allowed text-slate-500 border-slate-200 disabled:shadow-none;
}
